body{
  background-color:black;
}
h1{
  margin-left: 50px;
  margin-top:1.3%;
  color:white;
  position: absolute;
}
hr{
  border-color:white;
}
.nav{
  text-decoration: none;
  padding:0;
  margin:0;
  overflow: hidden;
  margin-top:7%;
  margin-right: 5%;
  color:white;
}
ul{
  list-style: none;
  margin-left:60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
li{
}
.logo{
  cursor:pointer;
  text-decoration: none;
  color:white;
}
h2,h5{
  color:white;
  text-align:center;
}
