#logo{
	position:absolute;
	margin-top:2%;
	margin-left:10%;
	width:8%;
	height:auto;
}
#first-bg{
	width:100%;
	height:auto;
	position: absolute;
	top:0;
	left: 0;
	z-index: -1;
}
ul{
	display:flex;
	position:absolute;
	max-width: 100%;
	margin-left:50%;
	margin-top:3%;
	list-style-type: none;
}
li{
	text-transform: uppercase;
	font-family: "Arial";

}
a{
	text-decoration:none;
	color:white;
	margin-right: 20px;
	font-size:80%;
}
@media screen and (max-width: 845px){
	a{
		font-size:60%;
	}
}
@media screen and (max-width:700px){
	ul{
		display:inline-block;
		width:50%;
		line-height: 7px;
		margin-left:70%;
		font-size:50%;
	}
}