#logo{
	position:absolute;
	margin-top:2%;
	margin-left:10%;
	width:8%;
	height:auto;
}
#first-bg{
	width:100%;
	height:auto;
	position: absolute;
	top:0;
	left: 0;
	z-index: -1;
}
ul{
	display:flex;
	position:absolute;
	max-width: 100%;
	margin-left:50%;
	margin-top:3%;
	list-style-type: none;
}
li{
	text-transform: uppercase;
	font-family: "Arial";

}
a{
	text-decoration:none;
	color:white;
	margin-right: 20px;
	font-size:80%;
}
@media screen and (max-width: 845px){
	a{
		font-size:60%;
	}
}
@media screen and (max-width:700px){
	ul{
		display:inline-block;
		width:50%;
		line-height: 7px;
		margin-left:70%;
		font-size:50%;
	}
}
#welcome{
	display: inline-block;
	text-transform: uppercase;
	font-family: "Arial";
	font-size:40px;
	color:white;
	position: absolute;
	margin-left:50%;
	transform: translateX(-50%);
	margin-top:20%;
	vertical-align: middle;

}
@media screen and (max-width: 1102px){
	#welcome{
		font-size:24px;
	}
}
@media screen and (max-width: 674px){
	#welcome{
		font-size:18px;
	}
}
@media screen and (max-width: 500px){
	#welcome{
		font-size:15px;
	}
}

#nice{
	display: inline-flex;
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	color:white;
	position:absolute;
	margin-top:25%;
	margin-left:40%;
	transform: translateX(-30%);
	font-family: "Arial";
	color:white;
	vertical-align: middle;
}
@media screen and (max-width: 1190px){
	#nice{
		font-size:36px;
	}
}
@media screen and (max-width: 727px){
	#nice{
		font-size:30px;
	}
}
@media screen and (max-width: 620px){
	#nice{
		font-size:25px;
	}
}
@media screen and (max-width: 516px){
	#nice{
		font-size:20px;
	}
}
#button{
	position: absolute;
	z-index: 2;
	width:17%;
	height:auto;
	margin-top:35%;
	margin-left:50%;
	transform: translateX(-60%);
}