body{
	margin:0;
}
#logo{
	font-family: 'Montserrat', sans-serif;
	margin-left:362px;
	margin-top:27px;
	width:86px;
	height:23px;
	font-weight:700;
	font-size:30px;
	display: inline-block;
	font-size:30px;
	position: absolute;
	display: inline-block;
	color:white;
}
#headerimg{
	width: 100%;
	height: 1000px;
	z-index: -1;
	margin:0;
	position:relative;
}
#nav1{
	position: absolute;
	margin-left:942px;
	margin-top:40px;
}
#undrln{
	position:absolute;
	width:50px;
	height:3px;
	margin-left:943px;
	margin-top:62px;
}
.nav{
	position:absolute;
	font-weight: 400;
	font-size:14px;
	font-family: 'Montserrat';
	text-decoration: none;
}
.navnclr{
	position:absolute;
	font-weight: 400;
	font-size:14px;
	font-family: 'Montserrat';
	text-decoration: none;
	color:white;
	margin-top:40px;
}
#cart{
	position:absolute;
	margin-top:40px;
	margin-left:1484px;
	width: 18px;
	height:15px;
}
#ct{
	position:absolute;
	font-family: "Kaushan Script";
	font-size:72px;
	margin-top:229px;
	margin-left:713px;
	color:white;
}
#welcome_label{
	position:absolute;
	font-family: "Montserrat";
	font-weight: 700;
	font-size:150px;
	color:white;
	margin-top:358px;
	margin-left:560px;
	line-height: 140px;
	width: 820px;
	height:240px;
	text-align:center;
}
#undrln2{
	position:absolute;
	width: 60px;
	height: 3px;
	margin-top:677px;
	margin-left:930px;
}
#button{
	position: absolute;
	width: 160px;
	height:40px;
	margin-top:730px;
	margin-left:880px;
}
#line1{
	position:absolute;
	width: 280px;
	height: 3px;
	margin-top:927px;
	margin-left:360px;
}
a{
	text-decoration: none;
	color:white;
}
#intro{
	text-transform: uppercase;
	position: absolute;
	margin-top:955px;
	margin-left:360px;
}
.number{
	font-family: "Montserrat";
	font-weight: 700;
	font-size:24px;
}
.word{
	font-family:"Montserrat";
	font-weight: 400;
	font-size:17px;
}
#two{
	text-transform: uppercase;
	position:absolute;
	margin-top:955px;
	margin-left:670px;
}
#line2{
	position:absolute;
	width: 280px;
	height: 3px;
	margin-top:927px;
	margin-left:670px;
}
#three{
	text-transform: uppercase;
	position:absolute;
	margin-top:955px;
	margin-left:980px;
}
#line3{
	position:absolute;
	width: 280px;
	height: 3px;
	margin-top:927px;
	margin-left:980px;
}
#line4{
	position:absolute;
	width:280px;
	height:3px;
	margin-top:927px;
	margin-left:1290px;
}
#four{
	text-transform: uppercase;
	position:absolute;
	margin-top:955px;
	margin-left:1290px;
}
#what_we_do{
	position: absolute;
	font-family: "Kaushan Script";
	font-weight:400;
	font-size:24px;
	margin-top:91px;
	margin-left:909px;
}
#story{
	position:absolute;
	font-family:"Montserrat";
	font-weight: 700;
	font-size:30px;
	text-transform: uppercase;
	margin-top:137px;
	margin-left:826px;
}
#line_red{
	position: absolute;
	width:60px;
	height: 3px;
	margin-top:200px;
	margin-left:930px;
}
#text{
	position: absolute;
	font-family:"Roboto";
	font-weight: 400;
	font-size:15px;
	line-height: 24px;
	text-align:center;
	width:954px;
	height:39px;
	margin-top: 250px;
	margin-left: 483px;
	color:#999999;
}
#photo1, #photo2, #photo3{
	position:absolute;
}
#photo1{
	margin-top:380px;
	margin-left:350px;
}
#photo2{
	margin-top:390px;
	margin-left:770px;
}
#photo3{
	margin-top:390px;
	margin-left:1180px;
}
#main{
	height:750px;
	width:100%;
}
#main2{
	width:100%;
	height:270px;
	background-color: #95e1d3;
}
#vertical_line{
	position:absolute;
	margin-left:359px;
}
#vertical_line2{
	position:absolute;
	margin-left:599px;
}
#vertical_line3{
	position:absolute;
	margin-left:839px;
}
#vertical_line4{
	position:absolute;
	margin-left:1079px;
}
#vertical_line5{
	position:absolute;
	margin-left:1319px;
}
#vertical_line6{
	position:absolute;
	margin-left:1559px;
	margin-right: 360px;
}
#number1{
	position:absolute;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size:72px;
	text-transform: uppercase;
	margin-top:89px;
	margin-left:438px;
	color:white;
}
#number2{
	position:absolute;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size:72px;
	text-transform: uppercase;
	margin-top:89px;
	margin-left:665px;
	color:white;
}
#number3{
	position:absolute;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size:72px;
	text-transform: uppercase;
	margin-top:89px;
	margin-left:925px;
	color:white;
}
#number4{
	position:absolute;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size:72px;
	text-transform: uppercase;
	margin-top:89px;
	margin-left:1157px;
	color:white;
}
#number5{
	position:absolute;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size:72px;
	text-transform: uppercase;
	margin-top:89px;
	margin-left:1398px;
	color:white;
	text-transform: uppercase;
}
#word1{
	position: absolute;
	font-family: 'Montserrat';
	font-weight:400;
	font-size:14px;
	color:white;
	text-transform: uppercase;
	margin-left:395px;
}
#word2{
	position: absolute;
	font-family: "Montserrat";
	font-weight:400;
	font-size:14px;
	color:white;
	text-transform: uppercase;
	margin-left:670px;
}
#word3{
	position: absolute;
	font-family: "Montserrat";
	font-weight:400;
	font-size:14px;
	color:white;
	text-transform: uppercase;
	margin-left:900px;
}
#word4{
	position: absolute;
	font-family: "Montserrat";
	font-weight:400;
	font-size:14px;
	color:white;
	text-transform: uppercase;
	margin-left:1144px;
}
#word5{
	position: absolute;
	font-family: "Montserrat";
	font-weight:400;
	font-size:14px;
	color:white;
	text-transform: uppercase;
	margin-left:1404px;
}
#word1, #word2, #word3, #word4, #word5{
	margin-top:170px;
}
#main3{
	width:100%;
	height:650px;
}
#www{
	font-family: 'Kaushan Script';
	font-size:24px;
	font-weight: 400;
	position: absolute;
	margin-top:109px;
	margin-left:899px;
}
#as{
	font-family: 'Montserrat';
	font-weight: 700;
	font-size:30px;
	position:absolute;
	margin-top:155px;
	margin-left:804px;
}
#line_red2{
	position: absolute;
	margin-top:220px;
	margin-left:930px;
}
.icons{
	position:absolute;
}
.text_big{
	position:absolute;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size:14px;
	text-transform: uppercase;
}
.text_small{
	position:absolute;
	font-family:'Roboto';
	font-size:15px;
	font-weight: 400;
	line-height: 24px;
	color:#999999;
}
#foralldevices{
	font-size: 24px;
	font-weight: 400;
	font-family: "Kaushan Script";
	position:absolute;
	margin-top:109px;
	margin-left:897px;
	color:black;
}
#unique{
	text-transform: uppercase;
	font-family: "Montserrat";
	font-weight: 700;
	font-size:30px;
	margin-top:155px;
	margin-left:836px;
	position: absolute;
	color:black;
}
#main4{
	width: 1920px;
	height:850px;
}
#srvc{
	position:absolute;
	margin-top:112px;
	margin-left:926px;
	font-family: "Kaushan Script";
	font-size:24px;
	font-weight: 400;
}
#what_we_do2{
	font-family: "Montserrat";
	font-weight: 700;
	font-size:30px;
	text-transform: uppercase;
	position:absolute;
}
#txt{
	font-family: "Roboto";
	font-weight: 400;
	font-size:15px;
	line-height: 24px;
	text-align: center;
	position: absolute;
	margin-top: 269px;
	margin-left:483px;
	color:#999999;
}